<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  } 
  p {
    margin: 0;
  } 
</style>
 
<main>
  <div class="cust--container p-4 d-flex justify-content-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#additionalSteps">View/Add  Segment</button>
  </div>
  <div class="cust--container p-4 d-flex align-items-start">
      <button type="button" class="btn w-100p btn-success">Start</button>
      <div class="flowchart--wrapper d-flex flex-wrap">
          <ul class="d-flex flex-wrap m-0 p-0">
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i>
                  <i class="icon--fa fa-regular fa-message"></i>
                  <span class="days">Day 1</span>
                  <label class="main--label">Welcome Message</label>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i> 
                  <i class="icon--fa fa-solid fa-video"></i>
                  <span class="days">Day 7</span>
                  <label class="main--label">Link to Blog Post</label>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i> 
                  <i class="icon--fa fa-solid fa-image"></i>
                  <span class="days">Day 10</span>
                  <label class="main--label">Motivational Video</label> 
              </li>
              <li class="line">
                  <div class="upperlines">

                  </div>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i>
                  <i class="icon--fa fa-regular fa-message"></i>
                  <span class="days">Day 14</span>
                  <label class="main--label">Welcome Message</label>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i> 
                  <i class="icon--fa fa-solid fa-video"></i>
                  <span class="days">Day 18</span>
                  <label class="main--label">Link to Blog Post</label>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i> 
                  <i class="icon--fa fa-solid fa-image"></i>
                  <span class="days">Day 22</span>
                  <label class="main--label">Motivational Video</label> 
              </li>
              <li class="line">
                  <div class="upperlines">

                  </div>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i> 
                  <i class="icon--fa fa-solid fa-video"></i>
                  <span class="days">Day 24</span>
                  <label class="main--label">"Schedule Follo Up Reminder"</label>
              </li>
              <li class="d-flex flex-column align-items-end">
                  <i class="icon--star fa-sharp fa-solid fa-square"></i>
                  <button type="button" class="btn w-100p btn-danger end--btn">End</button>
              </li>
          </ul> 
      </div>
  </div>
</main>
<div class="modal fade additional--steps--modal" id="additionalSteps" tabindex="-1" aria-labelledby="additionalStepsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="additionalStepsLabel">Add Additional Step</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
              <label class="form-label">Message Title</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
              <label class="form-label">Select Message Type</label>
              <div class="d-flex align-items-center select--mt">
                  <i class="fa-regular fa-message"></i>
                  <i class="fa-solid fa-video"></i>
                  <i class="fa-solid fa-image"></i>
              </div>
          </div>
          <div class="mb-3">
              <label  class="form-label">Message Content</label>
              <textarea class="form-control"  rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label  class="form-label ">Send Interval</label>
              <div class="d-flex align-items-center">
                  <label  class="form-label m-0">Day After Previous Step</label>
                  <select class="form-select sendinterval--dd" >
                      <option selected>1 Day</option>
                      <option value="1">2 Day</option>
                      <option value="2">3 Day</option>
                      <option value="3">4 Day</option>
                    </select>
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label">Repeating?</label>
              <select class="form-select sendinterval--dd" >
                  <option selected>1 Day</option>
                  <option value="1">2 Day</option>
                  <option value="2">3 Day</option>
                  <option value="3">4 Day</option>
                </select>
            </div>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

